# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.class

# Package Files #
*.jar
*.war
*.ear

#swap File
*.swp

#Tex related files
*.loa
*.nlo
*.nav
*.snm
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.mp
*.tui
*.bbl
*.fdb_latexmk
*.glx
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.mtc0
*.ps
*.out
*.synctex.gz
*.backup
*.vrb
*.xdy
*.tdo
*.tex~
